body {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
}

.login-container {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login-container h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login-container h5 {
    margin-bottom: 5px;
}

.login-container input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 95%;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    padding: 5px;
}

.login-signInButton {
    background: #f0c14b;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}

.login-container p {
    margin-top: 15px;
    font-size: 12px;
}

.login-registerButton {
    background: #e7e9ec;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    cursor: pointer;
}