*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/** box 1 **/

.nav-logo {
    height: 50px;
    width: 100px;
    
}

.logo {
    background-image: url("Images/amazon_logo_2.jpg");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}

.border {

    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** box 2 **/

.nav-address {
    padding: 10px;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/** box 3 **/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/** extra box **/
 
.nav-en {
    height: 80%;
    width: 70px;
    display: flex;
    font-size: 0.85rem;
    font-weight: 700;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.flag {
    background-image: url(Images/flag.jpg);
    background-size: cover;
    height: 15px;
    width: 23px;
}

.nav-en p {
    padding-left: 5px;
}


/** box 4 **/ 

.nav-signin {
    padding: 10px;

}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/** box 5 **/

.nav-return {
    padding: 10px;
}

/** box 6 **/

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    padding: 10px;
}

/** panel **/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all {
    padding: 10px;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.border {
    padding: 10px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/** hero-section **/

.hero-section {
    background-image: url(Images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

/** shop-section **/

.shop-section1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.shop-section2 {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    /**border: 2px solid black;**/
    height: 450px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box-content p {
    color: #007185;
    font-size: 0.85rem;
    margin-top: auto;
    cursor: pointer;
}

.box-content p:hover {
    text-decoration: underline;
    color: #c45500;
}

/* Modern Amazon Button styling */
.add-to-cart-btn {
    background-color: #ffd814;
    border: 1px solid #fcd200;
    border-radius: 20px;
    padding: 7px 0;   /*Vertical padding*/
    width: 100%; /* Makes button full width of the box padding*/
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.8rem;
    transition: background 0.2s;
}

.add-to-cart-btn:hover {
    background-color: #f7ca00;
    border-color: #f2c200;
}

/* Container for the notification */
.toast-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #232f3e; /*Amazon dark blue*/
    color: white;
    padding: 12px 25px;
    border-radius: 4px;
    border-left: 5px solid #ffa41c; /*Amazon orange*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-size:0.9rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: slideIn 0.4s ease-out, fadeOut 0.4s ease-in 2.6s forwards;
}

/* Animations */
@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0;}
    to { transform: translateX(0); opacity: 1;}
}

@keyframes fadeOut {
    from { opacity: 1;}
    to { opacity: 0;}
}

/** footer **/

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

/* btn clear all items */

.footer-reset-section {
    padding: 20px 0;
    text-align: center; /* Centers the button */
    border-top: 1px solid #3a4553; /* Subtle line to separate it */
    background-color: #232f3e; /* Matches the dark footer color */
}

.clear-btn {
    background-color: #f0c14b; /* Amazon button yellow */
    border: 1px solid #a88734;
    color: #111;
    padding: 7px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.clear-btn:hover {
    background-color: #ddb347;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid rgba(255, 255, 255, 0.45);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(Images/amazon_logo_2.jpg);
    background-size: cover;
    height: 50px;
    width: 100px;
    
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}

